* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* transition: .3s ease-in-out; */
    /* overflow-x: hidden; */
}

/* html {
    width: 100%;
    height: 100%;
} */

nextjs-portal {
    display: none;
}

body {
    background-color: #f1f5f9;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 20px;
}

.row {
    display: flex;
}

.row-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-4 {
    flex-grow: 4;
}

.flex-grow-5 {
    flex-grow: 5;
}

.gap {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.mx-auto {
    margin: auto;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mt-170 {
    margin-top: 170px;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.j-content-center {
    justify-content: center;
    align-items: center;
}

.align-center {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

.align-self-start {
    align-self: self-start;
}

.align-self-end {
    align-self: self-end;
}

.cursor-pointer {
    cursor: pointer;
}

.disabled {
    opacity: .7;
    cursor: not-allowed;
    pointer-events: none;
}

/* Loader  */
.loader {
    width: 18px;
    height: 18px;
    border: 3px solid #FFF;
    border-bottom-color: #fd944e;
    border-radius: 50%;
    margin: auto;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 850px) {
    .row-md {
        display: flex;
        flex-direction: column;
    }

    .middle {
        margin: 30px;
        margin-top: 170px;
    }
}

@media screen and (min-width: 851px) {
    .row-md {
        display: flex;
    }

    .w-10 {
        width: 10%;
    }

    .w-20 {
        width: 20%;
    }

    .w-30 {
        width: 30%;
    }

    .w-40 {
        width: 40%;
    }

    .w-50 {
        width: 50%;
    }

    .w-75 {
        width: 75%;
    }

    .w-100 {
        width: 100%;
    }

    .middle {
        margin: auto;
        margin-top: 170px;
    }

    .align-md-self-start {
        align-self: self-start;
    }
}